@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutBaru";
}

<p></p>
<div class="card-group">
    <div class="col-6">
        <div class="card" id="chart">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card" id="chart1">
            <div class="card-body">
            </div>
        </div>
    </div>
</div>

<p></p>
<div class="card-group">
    <div class="col-6">
        <div class="card" id="chart3">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card" id="chart2">
            <div class="card-body">
            </div>
        </div>
    </div>
</div>