@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutBaru";
}

<div class="container-fluid p-1 text-black text-center">
    <h1>Dasar Bootstrap</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="mb-4 text-white"></div>
                <button type="button" id="a" class="btn-outline-warning">
                    Bootstrap adalah salah saatu frameework yang memungkinkan developer dapat mengembangkan website dengan mudah dan cepat.
                    Developer hanya perlu memanggil class tertentu untuk membuat tombol, panel, tabel, pesan peringatan, dan lain sebagainya.
                </button>
                <br>

                <div class="my-3 text-white"></div>
                <button type="button" class="btn-outline-dark">
                    Bootstrap terdiri dari beberapa file. File pada Bootstrap berisi kumpulan baris kode tersusun dari CSS dan JavaScript yang berbentuk class.
                    Jadi ketika Anda menggunakan Bootstrap untuk mengembangkan website, membuat satu tombol tidak perlu menyusun beberapa baris kode karena tinggal memanggil salah satu class saja.
                </button>
                <br>
            </div>
            <div class="col">
                <div class="my-4 text-white"></div>
                <button type="button" class="btn-outline-primary">
                    Bootstrap sampai dengan saat ini masih memperbarui sistemnya. Tidak hanya berhenti di angka 3, tapi sudah masuk ke versi 4.
                    Pada versi 4 ini ada beberapa pembaharuan lebih banyak berhubungan dengan tema.
                </button>
                <br>
                <div class="container p-5">
                    <button type="button" id="b" class="btn-info">Example</button>
                </div>
            </div>
        </div>
    </div>
</div>