@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutLogin";
}

<div class="container">
    <div class="img">
        <img src="/img/pc.svg" />
    </div>
    <div class="login-container">
        <form method="post" action="/Employees/Auth">
            <img class="avator" src="https://freesvg.org/img/publicdomainq-0006514oahggv.png" />
            <h2>JOIN US</h2>
            <div class="input-div" one>
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div>
                    <h5>Email</h5>
                    <input class="input" name="Email" id="Email" type="text" />
                </div>
            </div>
            <div class="input-div" two>
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div>
                    <h5>Password</h5>
                    <input class="input" name="Password" id="Password" type="password" />
                </div>
            </div>
            <a href="#">Forgot password ?</a>
            
            <input type="submit" class="btn" value="Login" />
        </form>
    </div>
</div>
<footer>
    Copyright © 2021 - All rights Reserved -
</footer>
